/* .carousel {
  background: #f2f2f2;
} */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: #f5f5f5;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logosSlide {
  animation-play-state: paused;
}

.logosSlide {
  display: inline-flex;
  animation: 35s slide infinite linear;
}

.logosSlide img {
  height: 50px;
  margin: 0 40px;
}

@media screen and (max-width: 500px) {
  .logos:before,
  .logos:after {
    width: 50px;
  }

  .logosSlide img {
    height: 30px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .logos:before,
  .logos:after {
    width: 150px;
  }

  .logosSlide img {
    height: 40px;
    margin: 0 20px;
  }
}
